CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
Project Files
*.exe
bin
lib/Data/san1.txt
lib/Data/san2.txt
lib/Data/CS170_Large_DataSet__69.txt
lib/Data/CS170_Small_DataSet__11.txt
